body {
    width: 90%;
    margin: 0 auto;
}


/* Top Nav Styles */

nav {

}

nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;



}
nav li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0px 1px rgba(75,75,75,.5);
    transition: all 1s ease;
    opacity: .8;
}

nav li a {
    width: auto;
}
nav li.search-form {
    margin-left: auto;
    margin-right: 2em;
}

nav li.search-button {
    margin-left: auto;
}
/* Main Content Styles */

.app-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px;

}


/* Home page Stying */

.intro-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

/* Flickr Images Styling */

.imageSize {
    padding: 5px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

span {
    padding-left: 5px;
}


/* footer styles */


footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 4em;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


