

<div id="homeImage">
  <div class="logoOne">
      <a href="http://s306.photobucket.com/user/mickleigh11/media/DevMountain/LogoForSite_zpsbjapu7jx.png.html" target="_blank">
          <img src="http://i306.photobucket.com/albums/nn261/mickleigh11/DevMountain/LogoForSite_zpsbjapu7jx.png" border="0" alt=" photo LogoForSite_zpsbjapu7jx.png"/></a>
  </div>
    <div class="textBox">
    <p>Welcome and thank you for visiting</p>
    </div>
            <div class="textBox2">
                There's something remarkable about traveling and photographing the great and simple wonders<br>
                of the world we live in.  Discovering how different countries & cultures of the world<br>
                solve life's problems and seeing first-hand the beauty beyond our own back doors.<br>
                I invite you to visit the images tab to see photographs from my personal world travels.<br>
                <div class="quote">
                "Travel is about the gorgeous feeling<br>
                    of teetering in the unknown."<br>
                    - Gaby Basora<br>
            </div>
            </div>

</div>

