

<div id="homeImage">
  <div class="logoOne">
      <a href="http://s306.photobucket.com/user/mickleigh11/media/DevMountain/LogoForSite_zpsbjapu7jx.png.html" target="_blank">
          <img src="http://i306.photobucket.com/albums/nn261/mickleigh11/DevMountain/LogoForSite_zpsbjapu7jx.png" border="0" alt=" photo LogoForSite_zpsbjapu7jx.png"/></a>
  </div>
    <div class="textBox">
    <p>Welcome and thank you for visiting</p>
    </div>
            <div class="textBox2">
                I have a passion for photography and coding.<br>
                I enjoy travel and typically take my images while on the road.<br>
                I love to see how countries and cultures figure out life's problems.<br>
                Images is a tab to see some of my work.<br>

            </div>

</div>

