

<div id="homeImage">
  <div class="logoOne">
      <a href="http://s306.photobucket.com/user/mickleigh11/media/DevMountain/LogoForSite_zpsbjapu7jx.png.html" target="_blank">
          <img src="http://i306.photobucket.com/albums/nn261/mickleigh11/DevMountain/LogoForSite_zpsbjapu7jx.png" border="0" alt=" photo LogoForSite_zpsbjapu7jx.png"/></a>
  </div>
    <div class="textBox">
    <p>Welcome and thank you for visiting</p>
    </div>
            <div class="textBox2">
                "Travel is about the gorgeous feeling of teetering in the unknown." - Gaby Basora<br>
                I enjoy travelling and taking photographs while on the road.<br>
                To see how countries and cultures figure out life's problems.<br>
                Visit the images tab to see photographs from my travels.<br>

            </div>

</div>

