<div class="bpParagraph">
    <p>I have had the opportunity to travel the world and see many beautiful places</p>
    <p>This gallery shows you a little of how I see it.  Please Enjoy!</p>
</div>
<div class ="bpImageNav">
    <button <a class="btn btn-xs btn-default" ng-click="myEuropeImages()"><i class="fa fa-chevron-circle-left"></i>  Previous</button>
    <button <a class="btn btn-xs btn-default" ng-click="myEuropeImages2()">Next  <i class="fa fa-chevron-circle-right"></i>  </button>
        </a>
    </a>
</div>

<div class="images">
    <img class='imagesOne' ng-repeat="image in images"  ng-click="openLightboxModal($index)" ng-src={{image.url}} alt=""/>

</div>

