

<div class="images">
    <a href="http://s306.photobucket.com/user/mickleigh11/media/Website/nyc1_zps3qbpotka.jpg.html" target="_blank"><img src="http://i306.photobucket.com/albums/nn261/mickleigh11/Website/nyc1_zps3qbpotka.jpg" border="0" alt=" photo nyc1_zps3qbpotka.jpg"/></a>

    <img ng-src={{images}}>
</div>
<ul class="flex-container">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
    <li class="flex-item">6</li>
</ul>